<div id="chatbox-container">
    <div id="chatbox-header">
        <div id="chatbox-header-icon"><img  src="assets/Daisy_Mae_PC_Character_Icon.png"></div>
        <div id="chatbox-header-title">
            <span id="chatbox-header-maintitle">Financial Assistant</span>
            <br><span id="chatbox-header-subtitle">Stock Market Expert</span>
        </div>
    </div>
    <div id="chatbox-body">
        <div id="chatbox-body-messageholder" >
            <div class="chatbox-message" [class.sent-user]="message.sentUser" *ngFor="let message of messages" [@slideInOut]>{{message.content}}</div>
        </div>
    </div>
    <div id="chatbox-input">
        <input placeholder="Type your question here..." id="chatbox-input-type" #textinput
        (keyup)="update(textinput.value)" (keyup.enter)="submit(textinput);">
        <button id="chatbox-input-submit" [class.isEmpty]="value.length == 0" (click)="submit(textinput);">➤</button>
    </div>
</div>
