<div id="infobox-container">
    <h1 id="infobox-header">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
    <h2 id="infobox-subheader">Nulla malesuada, turpis et convallis lacinia, erat nunc tincidunt nisl, sit amet blandit magna turpis ac quam. Nulla vitae est lobortis felis pretium pellentesque. Phasellus lacinia eleifend nisi, in varius elit pulvinar eu.</h2>
    <div id="infobox-buttonholder">
        <button>Bababooey</button>
        <button>Fecundity</button>
    </div>
    <div id="infobox-background"></div>
</div>